/* 
    Created on : 16/02/2017, 03:09:52 PM
    Author     : Ing. Gabriel J. Hurtado Díaz
*/

.fondo{
    /*    background-image: url('../img/fondo.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; */ 
    background-color: #2BAEFF;
}

.cuadrado {
    width: 100%; 
    height: 100%; 
    background: #333333;
}

.borders{
    -moz-border-radius: 25px 25px;
    -webkit-border-radius: 25px 25px;
    border-radius: 25px 25px;
}